# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Project
/tmp/
*.drawio
_plan/
